/opt/tomcat/{{catalina_base}}/logs/catalina.out
/opt/tomcat/{{catalina_base}}/logs/*.txt
/opt/tomcat/{{catalina_base}}/logs/*.log
{
rotate 5
size 1024k
compress
notifempty
missingok
copytruncate
su {{tomcat_user}} {{tomcat_group}}
}
