# Systemd unit file for tomcat
[Unit]
Description=Apache Tomcat Instance {{ software_instance }}
After=network.target remote-fs.target

[Service]
UMask=0002
Type=forking
Environment=CATALINA_HOME={{catalina_home}}
Environment=CATALINA_BASE={{catalina_base}}
EnvironmentFile={{catalina_base}}/bin/setenv.sh
User={{software_instance}}
Group={{software_instance}}
ExecStart={{catalina_home}}/bin/catalina.sh start
ExecStop={{catalina_home}}/bin/catalina.sh stop
StandardOutput=syslog
SyslogIdentifier=%n
SyslogFacility=daemon
SuccessExitStatus=143
TasksMax=1024

[Install]
WantedBy=multi-user.target 
